<li class="cat-post-item">
  <%=link_to item.title,item %>
  <!--a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=760" rel="bookmark" title="连接到 关于2012年全省初中信息技术教学交流展示活动的通知.">关于2012年全省初中信息技术教学交流展示活动…</a-->
</li>