<p>您好, <%= @resource.email %>! 我们是肇庆黄岗中学网站管理小组。</p>

<p>我们收到了重设与此电子邮件地址关联的密码的请求。 如果是您提交的请求，请遵照下面的指示操作。

单击下面的链接通过我们的安全服务器重新设置您的密码：</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有请求重设密码，则完全可以忽略此邮件。请放心，您的客户帐户是安全的。

如果单击链接不起作用，可以将链接复制并粘贴到浏览器的地址窗口，或将地址重新键入地址窗口。在返回到 www.zqhgzx.com 后，我们将提供如何重设密码的指示。</p>
