<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>肇庆市黄岗中学</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.zqhgzx.com/wp-content/themes/hzportal/style.css?2013" />

<link rel="pingback" href="http://www.zqhgzx.com/xmlrpc.php" />
<link rel="alternate" type="application/rss+xml" title="肇庆市黄岗中学 &raquo; Feed" href="http://www.zqhgzx.com/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="肇庆市黄岗中学 &raquo; 评论 Feed" href="http://www.zqhgzx.com/?feed=comments-rss2" />
<link rel='stylesheet' id='slideshow-gallery-css'  href='http://www.zqhgzx.com/wp-content/plugins/slideshow-gallery/css/gallery-css.php?1=1&#038;resizeimages=Y&#038;width=335&#038;height=200&#038;border=1px+solid+%23CCCCCC&#038;background=%23969696&#038;infobackground=%23000000&#038;infocolor=%23FFFFFF&#038;ver=1.0' type='text/css' media='screen' />
<link rel='stylesheet' id='wp_sidebarlogin_css_styles-css'  href='http://www.zqhgzx.com/wp-content/plugins/sidebar-login/style.css?ver=3.3.2' type='text/css' media='all' />
<link rel='stylesheet' id='colorbox-theme1-css'  href='http://www.zqhgzx.com/wp-content/plugins/jquery-colorbox/themes/theme1/colorbox.css?ver=4.3' type='text/css' media='screen' />
<script type='text/javascript' src='http://www.zqhgzx.com/wp-includes/js/jquery/jquery.js?ver=1.7.1'></script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/plugins/slideshow-gallery/js/gallery.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/plugins/sidebar-login/js/blockui.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var sidebar_login_params = {"ajax_url":"http:\/\/www.zqhgzx.com\/wp-admin\/admin-ajax.php","login_nonce":"7379784ebb"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/plugins/sidebar-login/js/sidebar-login.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var jQueryColorboxSettingsArray = {"colorboxInline":"false","colorboxIframe":"false","colorboxGroupId":"","colorboxTitle":"","colorboxWidth":"false","colorboxHeight":"false","colorboxMaxWidth":"false","colorboxMaxHeight":"false","colorboxSlideshow":"false","colorboxSlideshowAuto":"false","colorboxScalePhotos":"true","colorboxPreloading":"false","colorboxOverlayClose":"false","colorboxLoop":"true","colorboxEscKey":"true","colorboxArrowKey":"true","colorboxScrolling":"true","colorboxOpacity":"0.85","colorboxTransition":"elastic","colorboxSpeed":"350","colorboxSlideshowSpeed":"2500","colorboxClose":"\u5173\u95ed","colorboxNext":"\u4e0b\u4e00\u5f20","colorboxPrevious":"\u4e0a\u4e00\u5f20","colorboxSlideshowStart":"\u5f00\u59cb\u5e7b\u706f\u7247\u653e\u6620","colorboxSlideshowStop":"\u505c\u6b62\u5e7b\u706f\u7247\u653e\u6620","colorboxCurrent":"{total}\u5f20\u56fe\u50cf\u4e2d\u7684\u7b2c{current}\u5f20","colorboxImageMaxWidth":"90%","colorboxImageMaxHeight":"90%","colorboxImageHeight":"false","colorboxImageWidth":"90%","colorboxLinkHeight":"90%","colorboxLinkWidth":"90%","colorboxInitialHeight":"100","colorboxInitialWidth":"300","autoColorboxJavaScript":"","autoHideFlash":"","autoColorbox":"true","autoColorboxGalleries":"","colorboxAddClassToLinks":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/plugins/jquery-colorbox/js/jquery.colorbox-min.js?ver=1.3.19'></script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/plugins/jquery-colorbox/js/jquery-colorbox-wrapper-min.js?ver=4.3'></script>
<script type='text/javascript' src='http://www.zqhgzx.com/wp-content/themes/hzportal/js/jquery-ui-1.8.18.custom.min.js?ver=1.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.zqhgzx.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.zqhgzx.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 3.3.2" />

<!-- All in One SEO Pack 1.6.14.5 by Michael Torbert of Semper Fi Web Design[82,117] -->
<meta name="description" content="肇庆市黄岗中学 主页" />
<meta name="keywords" content="肇庆，黄岗中学，教育" />
<link rel="canonical" href="http://www.zqhgzx.com/" />
<!-- /all in one seo pack -->
<meta name="framework" content="Alkivia Framework 0.8" />

        <script type="text/javascript">
        var tb_pathToImage = "http://www.zqhgzx.com/wp-includes/js/thickbox/loadingAnimation.gif";
		var tb_closeImage = "http://www.zqhgzx.com/wp-includes/js/thickbox/tb-close.png";
		</script>

        </head>

<body class="home blog">
<div id="page-wrap">
<div id="banner">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="985" height="285">

        <param name="movie" value="http://www.zqhgzx.com/wp-content/themes/hzportal/sunshine.swf" />

        <param name="quality" value="high" />

        <param name="wmode" value="opaque" />

        <embed src="http://www.zqhgzx.com/wp-content/themes/hzportal/sunshine.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="985" height="285" wmode="opaque"></embed>

    </object>
</div>
<div class="nav-wrapper"><ul id="nav" class="dropdown"><li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-7"><a href="/">首页</a></li>
<li id="menu-item-122" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-122"><a href="http://www.zqhgzx.com/?cat=12">新闻中心</a></li>
<li id="menu-item-123" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-123"><a href="http://www.zqhgzx.com/?cat=14">校园公告</a></li>
<li id="menu-item-124" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-124"><a href="http://www.zqhgzx.com/?cat=15">校园简介</a>
<ul class="sub-menu">
	<li id="menu-item-129" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-129"><a href="http://www.zqhgzx.com/?cat=16">校园风光</a></li>
	<li id="menu-item-128" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-128"><a href="http://www.zqhgzx.com/?cat=64">校史简介</a></li>
	<li id="menu-item-127" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-127"><a href="http://www.zqhgzx.com/?cat=63">机构设置</a></li>
	<li id="menu-item-126" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-126"><a href="http://www.zqhgzx.com/?cat=56">政策法规</a></li>
	<li id="menu-item-125" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-125"><a href="http://www.zqhgzx.com/?cat=52">师资力量</a></li>
</ul>
</li>
<li id="menu-item-107" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-107"><a href="http://www.zqhgzx.com/?cat=8">教育研讨</a>
<ul class="sub-menu">
	<li id="menu-item-112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112"><a href="http://www.zqhgzx.com/?cat=13">校本培训</a></li>
	<li id="menu-item-111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-111"><a href="http://www.zqhgzx.com/?cat=61">教育文稿</a></li>
	<li id="menu-item-110" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-110"><a href="http://www.zqhgzx.com/?cat=60">教研工作</a></li>
	<li id="menu-item-109" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-109"><a href="http://www.zqhgzx.com/?cat=59">教研信息</a></li>
	<li id="menu-item-108" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-108"><a href="http://www.zqhgzx.com/?cat=36">专题研究</a></li>
	<li id="menu-item-137" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-137"><a href="http://www.zqhgzx.com/?cat=29">论文专集</a></li>
</ul>
</li>
<li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="http://www.zqhgzx.com/?cat=3">德育天地</a>
<ul class="sub-menu">
	<li id="menu-item-116" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-116"><a href="http://www.zqhgzx.com/?cat=5">德育管理</a></li>
	<li id="menu-item-115" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-115"><a href="http://www.zqhgzx.com/?cat=4">德育法规</a></li>
	<li id="menu-item-117" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-117"><a href="http://www.zqhgzx.com/?cat=6">德育论丛</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"><a href="http://www.zqhgzx.com/?cat=50">安全教育</a></li>
	<li id="menu-item-118" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-118"><a href="http://www.zqhgzx.com/?cat=11">文明礼仪</a></li>
	<li id="menu-item-136" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-136"><a href="http://www.zqhgzx.com/?cat=24">美德故事</a></li>
</ul>
</li>
<li id="menu-item-119" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-119"><a href="http://www.zqhgzx.com/?cat=9">数字学校</a>
<ul class="sub-menu">
	<li id="menu-item-120" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120"><a href="http://www.zqhgzx.com/?cat=45">图片资源</a></li>
	<li id="menu-item-121" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-121"><a href="http://www.zqhgzx.com/?cat=48">媒体报导</a></li>
</ul>
</li>
<li id="menu-item-31" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"><a href="http://www.zqhgzx.com/?cat=18">特色专区</a>
<ul class="sub-menu">
	<li id="menu-item-210" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-210"><a href="http://www.zqhgzx.com/?cat=73">定向越野</a></li>
	<li id="menu-item-211" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-211"><a href="http://www.zqhgzx.com/?cat=74">朝阳读书</a></li>
</ul>
</li>
<li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36"><a href="http://www.zqhgzx.com/?cat=32">资源中心</a></li>
<li id="menu-item-134" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a href="http://www.zqhgzx.com/?cat=27">荣誉表彰</a></li>
</ul></div><div id="bread-crumb">
    您的位置:
<!-- Breadcrumb, generated by 'Breadcrumb Nav XT' - http://sw-guide.de/ -->
首页
</div>

<div id="content-top"></div>
<div id="content-wrapper" class="group">
	<script type="text/javascript">
	    jQuery(document).ready(function($){
		$("#tabs").tabs();
	    });
	</script>

<div id="sidebar-wrapper">
    <ul id="sidebar">
	<li id="categoryposts-2" class="widget-container widget_categoryposts"><h3 class="widget-title">校园公告</h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=760" rel="bookmark" title="连接到 关于2012年全省初中信息技术教学交流展示活动的通知.">关于2012年全省初中信息技术教学交流展示活动…			</a>




					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=756" rel="bookmark" title="连接到 关于2012~2013第一学期期中考试通知">关于2012~2013第一学期期中考试通知			</a>




					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=738" rel="bookmark" title="连接到 端州区教育系统廉洁行政廉洁从教承诺书">端州区教育系统廉洁行政廉洁从教承诺书			</a>




					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=736" rel="bookmark" title="连接到 端州区教育系统廉洁行政廉洁从教倡议书">端州区教育系统廉洁行政廉洁从教倡议书			</a>




					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=708" rel="bookmark" title="连接到 开创黄岗中学辉煌明天 ——罗文新校长在2012学年开学典礼上的讲话">开创黄岗中学辉煌明天 ——罗文新校长在2012学年…			</a>




					</li>
	</ul>
</li><li id="search-2" class="widget-container widget_search"><form role="search" method="get" id="searchform" action="http://www.zqhgzx.com/" >
	<div><label class="screen-reader-text" for="s">搜索：</label>
	<input type="text" value="" name="s" id="s" />
	<input type="submit" id="searchsubmit" value="搜索" />
	</div>
	</form></li><li id="wp_sidebarlogin-3" class="widget-container widget_wp_sidebarlogin"><h3 class="widget-title"><span>登录</span></h3>		<form method="post" action="http://www.zqhgzx.com/?_login=269805f2a4">

			<p><label for="user_login">用户名：</label> <input name="log" value="" class="text" id="user_login" type="text" /></p>
			<p><label for="user_pass">密码：</label> <input name="pwd" class="text" id="user_pass" type="password" /></p>


			<p class="rememberme"><input name="rememberme" class="checkbox" id="rememberme" value="forever" type="checkbox" /> <label for="rememberme">记住我</label></p>

			<p class="submit">
				<input type="submit" name="wp-submit" id="wp-submit" value="登录 &raquo;" />
				<input type="hidden" name="redirect_to" class="redirect_to" value="http://www.zqhgzx.com/" />
				<input type="hidden" name="sidebarlogin_posted" value="1" />
				<input type="hidden" name="testcookie" value="1" />
			</p>


		</form>
		<ul class="sidebarlogin_otherlinks"><li><a href="http://www.zqhgzx.com/wp-login.php?action=lostpassword" rel="nofollow">忘记密码？</a></li></ul></li><li id="linkcat-2" class="widget-container widget_links"><h3 class="widget-title">链接表</h3>
	<ul class='xoxo blogroll'>
<li><a href="http://www.zhjyzy.com">中国教育资源库</a></li>
<li><a href="http://www.edudown.net">中小学教育资源网</a></li>
<li><a href="http://www.dzjyj.com:8080/" target="_blank">端州教育信息网</a></li>
<li><a href="http://blog.sina.com.cn/zqhgzx" target="_blank">肇庆市黄岗中学博客</a></li>

	</ul>
</li>
	    </ul>
</div>


    <div id="main-content">
    <div id="home-row1">
        <div id="slider-wrapper">
            	<ul id="slideshow" style="display:none;">

				<li>
					<h3>我校七年级进行建队暨八年级退队仪式</h3>
					<span>http://www.zqhgzx.com/wp-content/uploads/slideshow-gallery/IMG_7657_副本.jpg</span>
					<p>钟建华副校长主持会议</p>
											<a href="" title="我校七年级进行建队暨八年级退队仪式"></a>
									</li>

				<li>
					<h3>我校支部委员会进行换届选举</h3>
					<span>http://www.zqhgzx.com/wp-content/uploads/slideshow-gallery/IMG_6401_副本.jpg</span>
					<p>罗文新校长主持会议</p>
											<a href="" title="我校支部委员会进行换届选举"></a>
									</li>

				<li>
					<h3>建队仪式剪影</h3>
					<span>http://www.zqhgzx.com/wp-content/uploads/slideshow-gallery/IMG_7662_副本.jpg</span>
					<p>活动剪影</p>
											<a href="" title="建队仪式剪影"></a>
									</li>
						</ul>

	<div id="slideshow-wrapper">

		<div id="fullsize">
			<div id="imgprev" class="imgnav" title="Previous Image"></div>
			<div id="imglink"><!-- link --></div>
			<div id="imgnext" class="imgnav" title="Next Image"></div>
			<div id="image"></div>
							<div id="information">
					<h3></h3>
					<p></p>
				</div>
					</div>

			</div>

	<script type="text/javascript">
	jQuery.noConflict();
	tid('slideshow').style.display = "none";
	tid('slideshow-wrapper').style.display = 'block';
	tid('slideshow-wrapper').style.visibility = 'hidden';


	/**
	 * issue #2: Bugfix for WebKit. Safari and similar browsers aren't capable to handle jQuery.ready() right. The problem
	 * here was, that sometimes the event was fired (if js is not available in browsers cache) too early, so that not all
	 * pictures were displayed in the thumbnail bar. I added a timeout to give the browser time to load the pictures.
	 * During that time I found it nice to display a spinner icon to give the visitor a hint that "somethings going on there".
	 * For this to display correctly I've added some lines to the css file too.
	 */

	// append the spinner
	jQuery("#fullsize").append('<div id="spinner"><img src="http://www.zqhgzx.com/wp-content/plugins/slideshow-gallery/images/spinner.gif"></div>');
	tid('spinner').style.visibility = 'visible';

	var slideshow = new TINY.slideshow("slideshow");
	jQuery(document).ready(function() {
		// set a timeout before launching the slideshow
		window.setTimeout(function() {
			slideshow.auto = true;			slideshow.speed = 10;
			slideshow.imgSpeed = 10;
			slideshow.navOpacity = 25;
			slideshow.navHover = 70;
			slideshow.letterbox = "#000000";
			slideshow.linkclass = "linkhover";
			slideshow.info = "information";
			slideshow.infoSpeed = 10;
			slideshow.thumbs = "";
			slideshow.thumbOpacity = 70;
			slideshow.left = "slideleft";
			slideshow.right = "slideright";
			slideshow.scrollSpeed = 5;
			slideshow.spacing = 5;
			slideshow.active = "#FFFFFF";
			slideshow.imagesthickbox = "false";
			jQuery("#spinner").remove();
			slideshow.init("slideshow","image","imgprev","imgnext","imglink");
			tid('slideshow-wrapper').style.visibility = 'visible';
		}, 1000);
	});
	</script>
        </div>
        <div class="home-widget-wrapper">
            <li id="categoryposts-4" class="widget widget_categoryposts"><h3 class="widget-title"><a target="_blank" href="http://www.zqhgzx.com/?cat=12">新闻中心</a></h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=747" rel="bookmark" title="连接到 我和黄中共成长">我和黄中共成长			</a>


						<span class="post-date">2012-10-25</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=712" rel="bookmark" title="连接到 街道演讲赛：梁颖勇获一等奖">街道演讲赛：梁颖勇获一等奖			</a>


						<span class="post-date">2012-10-9</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=708" rel="bookmark" title="连接到 开创黄岗中学辉煌明天 ——罗文新校长在2012学年开学典礼上的讲话">开创黄岗中学辉煌明天 ——罗文新校长在…			</a>


						<span class="post-date">2012-10-9</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=702" rel="bookmark" title="连接到 黄岗中学定向运动团队代表肇庆市队参加2012年广东省第十届中学生运动会报道">黄岗中学定向运动团队代表肇庆市队参…			</a>


						<span class="post-date">2012-10-8</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=697" rel="bookmark" title="连接到 肇庆市黄岗中学定向运动团队参加2012年广东省大、中学生定向运动锦标赛报道">肇庆市黄岗中学定向运动团队参加2012…			</a>


						<span class="post-date">2012-10-8</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=669" rel="bookmark" title="连接到 光荣榜">光荣榜			</a>


						<span class="post-date">2012-9-13</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=643" rel="bookmark" title="连接到 雷巨威主任到黄岗中学调研">雷巨威主任到黄岗中学调研			</a>


						<span class="post-date">2012-8-31</span>


					</li>
	</ul>
</li>
        </div>
    </div>


    <div id="home-row2">
        <div class="home-widget-wrapper">
            <li id="categoryposts-5" class="widget widget_categoryposts"><h3 class="widget-title"><a target="_blank" href="http://www.zqhgzx.com/?cat=3">德育天地</a></h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=738" rel="bookmark" title="连接到 端州区教育系统廉洁行政廉洁从教承诺书">端州区教育系统廉洁行政廉洁从教承诺书			</a>


						<span class="post-date">2012-10-17</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=736" rel="bookmark" title="连接到 端州区教育系统廉洁行政廉洁从教倡议书">端州区教育系统廉洁行政廉洁从教倡议书			</a>


						<span class="post-date">2012-10-17</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=727" rel="bookmark" title="连接到 肇庆市黄岗中学举行“廉洁从教，从我做起”承诺签名活动">肇庆市黄岗中学举行“廉洁从教，从我做…			</a>


						<span class="post-date">2012-10-17</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=723" rel="bookmark" title="连接到 肇庆市岗中学开展学习时代楷模活动小结">肇庆市岗中学开展学习时代楷模活动小结			</a>


						<span class="post-date">2012-10-17</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=584" rel="bookmark" title="连接到 又一届学生结束学业  感恩老师">又一届学生结束学业  感恩老师			</a>


						<span class="post-date">2012-7-5</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=543" rel="bookmark" title="连接到 善用时间">善用时间			</a>


						<span class="post-date">2012-6-12</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=536" rel="bookmark" title="连接到 压力是机遇的另一个面孔">压力是机遇的另一个面孔			</a>


						<span class="post-date">2012-6-12</span>


					</li>
	</ul>
</li>
        </div>
        <div class="home-widget-wrapper">
            <h3 class="widget-title"><a target="_blank" href="http://www.zqhgzx.com/?cat=8">教学研讨</a></h3>
            <ul>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=760">
                        关于2012年全省初中信息技术教学交…                    </a>
                    <span class="post-date">2012-11-1</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=747">
                        我和黄中共成长                    </a>
                    <span class="post-date">2012-10-25</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=676">
                        中小学示范科组建设标准                    </a>
                    <span class="post-date">2012-9-26</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=659">
                        关于印发义务教育语文等学科教学指…                    </a>
                    <span class="post-date">2012-9-5</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=656">
                        中学教师专业标准（试行）                    </a>
                    <span class="post-date">2012-9-5</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=424">
                        论文参考文献编排格式与引文编注格…                    </a>
                    <span class="post-date">2012-6-6</span>
                </li>
                            </ul>
        </div>

        <div class="home-widget-wrapper">
            <h3 class="widget-title"><a target="_blank" href="http://www.zqhgzx.com/?cat=15">校园简介</a></h3>
            <ul>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=688">
                        林肇宁                    </a>
                    <span class="post-date">2012-10-8</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=565">
                        肇庆市黄岗中学简介                    </a>
                    <span class="post-date">2012-6-28</span>
                </li>
                            </ul>
        </div>

        <div class="home-widget-wrapper">
            <h3 class="widget-title"><a target="_blank" href="http://www.zqhgzx.com/?cat=9">数字学校</a></h3>
            <ul>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=584">
                        又一届学生结束学业  感恩老师                    </a>
                    <span class="post-date">2012-7-5</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=329">
                        学校舞蹈队照片                    </a>
                    <span class="post-date">2012-5-29</span>
                </li>
                                <li  class="cat-post-item">
                    <a target="_blank" href="http://www.zqhgzx.com/?p=306">
                        定向越野训练相片                    </a>
                    <span class="post-date">2012-5-29</span>
                </li>
                            </ul>
        </div>
    </div>
    <div id="home-row3">
        <div id="tabs">
            <ul>
                <li><a href="#teacher-zone">教师园地</a></li>
                <li><a href="#student-zone">学生园地</a></li>
                <li><a href="#parent-zone">家长园地</a></li>
            </ul>
           <div id="teacher-zone" class="tabs-list-wrapper"><h3 class="widget-title">教师园地</h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=518" rel="bookmark" title="连接到 别忘老师也要爱">别忘老师也要爱			</a>


						<span class="post-date">2012-6-11</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=373" rel="bookmark" title="连接到 致舞蹈队员的一封信">致舞蹈队员的一封信			</a>


						<span class="post-date">2012-6-4</span>


					</li>
	</ul>
</div>	    <div id="student-zone" class="tabs-list-wrapper"><h3 class="widget-title">学生园地</h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=547" rel="bookmark" title="连接到 呵护青少年的明天">呵护青少年的明天			</a>


						<span class="post-date">2012-6-12</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=275" rel="bookmark" title="连接到 书   香   魅   力">书   香   魅   力			</a>


						<span class="post-date">2012-5-28</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=269" rel="bookmark" title="连接到 Helping  others">Helping  others			</a>


						<span class="post-date">2012-5-28</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=52" rel="bookmark" title="连接到 谢谢！ 谢谢老师！谢谢化妆师">谢谢！ 谢谢老师！谢谢化妆师			</a>


						<span class="post-date">2012-4-20</span>


					</li>
	</ul>
</div>	    <div id="parent-zone" class="tabs-list-wrapper"><h3 class="widget-title">家长园地</h3><ul>
		<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=522" rel="bookmark" title="连接到 家长做好八大管理，提高孩子学习效果">家长做好八大管理，提高孩子学习效果			</a>


						<span class="post-date">2012-6-11</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=464" rel="bookmark" title="连接到 如何当好初中生家长">如何当好初中生家长			</a>


						<span class="post-date">2012-6-6</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=448" rel="bookmark" title="连接到 如何做个好家长">如何做个好家长			</a>


						<span class="post-date">2012-6-6</span>


					</li>
			<li class="cat-post-item">
			<a target="_blank" class="post-title" href="http://www.zqhgzx.com/?p=429" rel="bookmark" title="连接到 从十二岁到十五岁">从十二岁到十五岁			</a>


						<span class="post-date">2012-6-6</span>


					</li>
	</ul>
</div>        </div>
    </div>

</div>
</div>
<div id="content-bottom"></div>

<div id="fbar">
    <ul id="cate-list-resource">
        <li class="categories"><h3>教学资源</h3><ul>	<li class="cat-item cat-item-10"><a href="http://www.zqhgzx.com/?cat=10" title="查看 语文 下的所有文章">语文</a>
</li>
	<li class="cat-item cat-item-17"><a href="http://www.zqhgzx.com/?cat=17" title="查看 数学 下的所有文章">数学</a>
</li>
	<li class="cat-item cat-item-19"><a href="http://www.zqhgzx.com/?cat=19" title="查看 英语 下的所有文章">英语</a>
</li>
	<li class="cat-item cat-item-25"><a href="http://www.zqhgzx.com/?cat=25" title="查看 物理 下的所有文章">物理</a>
</li>
	<li class="cat-item cat-item-30"><a href="http://www.zqhgzx.com/?cat=30" title="查看 化学 下的所有文章">化学</a>
</li>
	<li class="cat-item cat-item-40"><a href="http://www.zqhgzx.com/?cat=40" title="查看 生物 下的所有文章">生物</a>
</li>
	<li class="cat-item cat-item-42"><a href="http://www.zqhgzx.com/?cat=42" title="查看 地理 下的所有文章">地理</a>
</li>
	<li class="cat-item cat-item-46"><a href="http://www.zqhgzx.com/?cat=46" title="查看 政治 下的所有文章">政治</a>
</li>
	<li class="cat-item cat-item-54"><a href="http://www.zqhgzx.com/?cat=54" title="查看 历史 下的所有文章">历史</a>
</li>
</ul></li>    </ul>
    <ul id="cate-list-grade">
        <li class="categories"><h3>级组管理</h3><ul>	<li class="cat-item cat-item-35"><a href="http://www.zqhgzx.com/?cat=35" title="查看 七年级 下的所有文章">七年级</a>
</li>
	<li class="cat-item cat-item-37"><a href="http://www.zqhgzx.com/?cat=37" title="查看 八年级 下的所有文章">八年级</a>
</li>
	<li class="cat-item cat-item-39"><a href="http://www.zqhgzx.com/?cat=39" title="查看 九年级 下的所有文章">九年级</a>
</li>
</ul></li>    </ul>
    <ul id="cate-list-league">
        <li class="categories"><h3>社团组织</h3><ul>	<li class="cat-item cat-item-33"><a href="http://www.zqhgzx.com/?cat=33" title="查看 音乐美术部 下的所有文章">音乐美术部</a>
</li>
	<li class="cat-item cat-item-38"><a href="http://www.zqhgzx.com/?cat=38" title="查看 体育俱乐部 下的所有文章">体育俱乐部</a>
</li>
	<li class="cat-item cat-item-75"><a href="http://www.zqhgzx.com/?cat=75" title="查看 科普小组 下的所有文章">科普小组</a>
</li>
</ul></li>    </ul>
    <ul id="cate-list-administrative">
        <li class="categories"><h3>行政管理</h3><ul>	<li class="cat-item cat-item-44"><a href="http://www.zqhgzx.com/?cat=44" title="查看 团委 下的所有文章">团委</a>
</li>
	<li class="cat-item cat-item-53"><a href="http://www.zqhgzx.com/?cat=53" title="查看 总务处 下的所有文章">总务处</a>
</li>
	<li class="cat-item cat-item-57"><a href="http://www.zqhgzx.com/?cat=57" title="查看 教务处 下的所有文章">教务处</a>
</li>
	<li class="cat-item cat-item-65"><a href="http://www.zqhgzx.com/?cat=65" title="查看 校长室 下的所有文章">校长室</a>
</li>
	<li class="cat-item cat-item-76"><a href="http://www.zqhgzx.com/?cat=76" title="查看 德育处 下的所有文章">德育处</a>
</li>
</ul></li>    </ul>
</div>
	<div id="footer">
        <div id="copyright">
            Copyright © 2012 www.zqhgzx.com 版权所有
        </div>
        <div id="powerby">
            <span>技术支持：</span><span class="supertone">肇庆市端州区洲佰通科技有限公司 </span><span>电话：0758-6168899 </span><span>邮箱：supertone@126.com</span>
        </div>
		<div>
			<script src="http://s15.cnzz.com/stat.php?id=4149859&web_id=4149859&online=1&show=line" language="JavaScript"></script>
		</div>
	</div>
</div>

</body>
</html>
